.pc-header {
  display: flex;
  justify-content: space-between;

  height: 70px;
  padding: 5px;

  .pc-img-div {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .pc-logo-img {
      height: 70%;
    }
  }

  .pc-choose-child {
    display: flex;
  }
}

.ph-header {
  display: flex;
  justify-content: space-between;
  height: 45px;
  padding: 5px;

  .ph-logo-img {
    height: 100%;
  }

  .ph-choose-child {
    display: flex;
  }
}

.child-img {
  border: 1px solid black;
  width: 5vw;
}
