.pc-chat-sidebar {
  height: calc(100vh - 4.5rem);
  background: #59A6FA;
  width: 20vw;
  transition: width 0.3s ease, opacity 0.3s ease, left 0.3s ease; /* Include left transition */
  overflow: hidden;
  position: relative;

  &.collapsed {
    width: 0;
    opacity: 0;
  }
}


.pc-chat-sidebar-btn {
  position: absolute;
  bottom: 3vh;
  display: flex;
  justify-content: space-between;
  padding: 0rem 0.5rem;
  align-items: center;
}

.pc-chat-sidebar-btn img:first-child {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  transition: bottom 0.3s ease;
}

.pc-chat-sidebar-btn img:last-child {
  position: absolute;
  transition: left 0.3s ease;
}

.pc-chat-body {
  position: absolute;
  top: 4.2rem;
  bottom: 9vh;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.content-container {
  position: absolute;
  top: 8.3%;
  bottom: 0;
  right: 0;
  left: 20vw;
  transition: left 0.3s ease, width 0.3s ease;
  height: 91.5%;
  //height: calc(100vh - 9.3vh);
  overflow: hidden;

  &.collapsed {
    left: 10vw;
    width: calc(100vw - 10.4vw);
  }

  &.expanded {
    left: 20vw;
    width: calc(100vw - 20.4vw);
  }
}

.pc-show-chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 95%;
  padding: 30px;
  position: relative;

  .pc-chat-part {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 60px;
  }

  .pc-chat-input {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 10px 10px 20px 10px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
  }
}